@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.background-image 
{
    background-image: url("public/images/marco-oriolesi-wqLGlhjr6Og-unsplash.jpg");
    background-color: red;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    height: 600px;
}