@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

h1
{
    background-image: url('https://cdn.pixabay.com/photo/2016/06/09/09/52/hands-1445472_960_720.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
     height: 600px;
}

